.listItem {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}

.listItem:hover {
  background: #5f647b;
}

.listItem:focus {
  background: #5f647b;
}

.active {
  background: #5f647b;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 20px;
}

.text {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}
