@import 'src/styles/variables.scss';

.listItem {
  display: flex;
  justify-content: space-between;
  padding: $base-padding;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.listItem:hover {
  background: $bg-color-hover;
}

.listItem:focus {
  background: $bg-color-hover;
}

.active {
  background: $bg-color-hover;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 20px;
}

.text {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
