// colors
$bg-color-main: #ffffff;
$bg-color-secondary: #323541;
$bg-color-hover: #5f647b;
$button-hover: #d3d3d3;
$base-border-color: #ffffff;
$text-primary: #ffffff;
$text-secondary: #b3b3b3;

// paddings
$base-padding: 12px;


// consts
$header-height: 80px;
