// colors
$bg-color-main: #ffffff;
$bg-color-secondary: #323541;
$bg-color-hover: #5f647b;
$button-hover: #d3d3d3;
$base-border-color: #ffffff;
$button-card: rgba(24, 27, 34, 0.7);
$text-primary: #ffffff;
$text-secondary: #b3b3b3;
