@import 'src/styles/variables.scss';

.button {
  padding: 4px;
  background: 0 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  text-align: center;
  word-break: break-word;
  word-wrap: wrap;
  overflow-wrap: break-word;
  transition: color 0.3s, background-color 0.3s;
  outline: 0;
}

.button:hover {
  background-color: $button-hover;
}

.icon {
  width: 24px;
  height: 24px;
}
