.button {
  padding: 0;
  background: 0 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  text-align: center;
  word-break: break-word;
  word-wrap: wrap;
  overflow-wrap: break-word;
  transition: color 0.3s, background-color 0.3s;
  outline: 0;
  width: 24px;
  height: 24px;
}

.button:hover {
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 30%);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  border: 1px solid white;
}

.button:focus {
  outline: none;
}

.icon {
  width: 24px;
  height: 24px;
}
