.button {
  padding: 0;
  background: 0 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  text-align: center;
  word-break: break-word;
  word-wrap: wrap;
  overflow-wrap: break-word;
  transition: color .3s,background-color .3s;
  outline: 0;
}

.button:hover {
  background-color: #f5f5f5;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 24px;
  height: 24px;
}
