@import 'src/styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $base-padding;
}

.text {
  pointer-events: none;
  font-size: 18px;
  line-height: 21px;
}
