@import 'src/styles/variables.scss';

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $base-padding;
  height: $header-height;
}

.text {
  pointer-events: none;
  font-size: 18px;
  line-height: 21px;
}
