@import 'src/styles/variables.scss';

.list {
  display: flex;
  flex-direction: column;
  background: $bg-color-secondary;
  list-style: none;
  margin: 0;
  padding: 0;
}

.emptyState {
  margin: auto;
  padding: 12px;
  pointer: none;
}
